#footer {
  background: black;
  margin-top: 4rem;
}
.footer-container {
  color: $primary-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
  font-size: 15px;
  font-family: $alanta;

  img {
    width: 50%;
    margin-bottom: 1rem;
  }
}

.footer-links {
  li {
    margin: 0.8rem;
  }
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 1.7rem;
  margin: 1rem 0 0;

  li {
    margin: 0 0.5rem;
    cursor: pointer;
  }
}
.copright {
  font-size: 14px;
  margin: 0.7rem 0;
  text-align: center;
  color: $primary-dark-grey;
}

@media screen and (min-width: 800px) {
  .footer-container {
    display: block;
    padding: 4rem 0;
    text-align: left;
    position: relative;

    img {
      width: 20%;
      margin-bottom: 2rem;
    }
  }
  .footer-links {
    display: flex;
    flex-direction: row;

    li {
      margin: 0;
      margin-right: 3rem;
      font-size: 1.2rem;
    }
  }
  .footer-socials {
    position: absolute;
    right: 0;
    top: 4rem;
    margin: 0;
  }
  .copright {
    position: absolute;
    right: 0;
    bottom: 3.7rem;
  }
}
