#creations {
  margin-top: 4rem;

  h2 {
    font-family: $josefin;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .card-button {
    order: 1;
    color: $primary-black;
    font-family: $alanta;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: transparent;
    font-weight: weight("bold");

    border: 1px solid black;
    padding: 0.7rem 3rem;
    text-align: center;
    margin: 1rem auto;
    display: block;
  }
}

.single-card {
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  p {
    color: $primary-white;
    font-family: $josefin;
    font-size: 1.3rem;

    padding: 1rem;
    max-width: 150px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.9);

    text-transform: uppercase;
    align-self: flex-end;
  }
}
.card-01 {
  background-image: url("../../images/mobile/image-deep-earth.jpg");
}

.card-02 {
  background-image: url("../../images/mobile/image-night-arcade.jpg");
}
.card-03 {
  background-image: url("../../images/mobile/image-soccer-team.jpg");
}
.card-04 {
  background-image: url("../../images/mobile/image-grid.jpg");
  p {
    max-width: 90px;
  }
}
.card-05 {
  background-image: url("../../images/mobile/image-from-above.jpg");
}
.card-06 {
  background-image: url("../../images/mobile/image-pocket-borealis.jpg");
}
.card-07 {
  background-image: url("../../images/mobile/image-curiosity.jpg");
}
.card-08 {
  background-image: url("../../images/mobile/image-fisheye.jpg");
}
